@media print {
  @page {
    size: A4;
    margin: 1cm;
  }

  h1 {
    page-break-before: always;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    page-break-after: avoid;
  }

  table,
  figure,
  img {
    page-break-inside: avoid;
  }

  /*logo*/
  .page-header hgroup {
    left: initial;
    right: 0;
  }

  /* daten */
  #c797 .tx-zep-gbm .machines .single {
    max-width: 70%;
    position: relative;
    top: 0;
    left: 0;
  }
  .machines .single .tabbed-box .tab-row,
  .machines .single .tabbed-box td {
    padding: 4px 10px;
    font-size: 13px;
  }

  .machines .news-image-current.with-video {
    width: 100%;
    text-align: left;
    height: auto;
    border: none;
  }

  .machines .news-image-current a:after {
    content: '';
  }

  .machines .single .year {
    margin-top: 20px;
  }

  /* ansprechpartner */
  div.partner {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
  }

  #pdf-images {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  #pdf-images > img {
    border: 1px solid #666;
    width: 48%;
    margin-bottom: 4%;
    min-height: 100px;
  }

  /* hide */
  footer,
  #cookieChoiceInfo,
  #c796,
  .l-breadcrumbs,
  .news-carousel,
  span.back-link.single-back-link,
  .tabbed-tabs,
  .ask-form,
  .print,
  .button-tomarklist,
  .teaser.teaser-box,
  .header-navigation-mobile,
  .cat-footer-links {
    display: none !important;
  }

  aside,
  nav,
  form,
  iframe,
  .menu,
  .hero,
  .adslot {
    display: none;
  }
}
