@media print {
  @page {
    size: A4;
    margin: 2cm 1cm;

    @bottom-right {
      content: 'Page ' counter(page) ' of ' counter(pages);
    }
  }

  h1 {
    page-break-before: always;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    page-break-after: avoid;
  }

  table,
  figure {
    page-break-inside: avoid;
  }

  /*logo*/
  .page-header hgroup {
    left: initial;
    right: 0;
  }

  /* daten */
  #c797 .tx-zep-gbm .machines .single {
    max-width: 70%;
    position: absolute;
    top: 0;
    left: 0;
  }

  /* ansprechpartner */
  div.partner {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
  }

  /* hide */
  footer,
  #cookieChoiceInfo,
  #c796,
  .l-breadcrumbs,
  span.back-link.single-back-link,
  .tabbed-tabs,
  .ask-form,
  .print,
  .button-tomarklist,
  .teaser.teaser-box,
  .header-navigation-mobile,
  .cat-footer-links {
    display: none !important;
  }
}
