@media print {
  @page {
    size: A4;
    margin: 2cm 1cm;

    @bottom-right {
      content: 'Page ' counter(page) ' of ' counter(pages);
    }
  }

  h1 {
    page-break-before: always;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    page-break-after: avoid;
  }

  /*logo*/
  .page-header hgroup {
    left: initial;
    right: 0;
  }

  table,
  figure {
    page-break-inside: avoid;
  }

  footer,
  #cookieChoiceInfo,
  #c796,
  .header-navigation-mobile,
  .cat-footer-links {
    display: none !important;
  }

  div.partner {
    position: absolute;
    top: 0;
    right: 0;
  }
}
